name: Build
on:
  workflow_dispatch:
  schedule:
    - cron: "00 23 * * *"
  push:
    branches:
      - master
      - hidden
    paths-ignore:
      - "**/README.md"
      - "**/template.json"

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 3
          keep_minimum_runs: 6

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - { goos: freebsd, goarch: riscv64 }
          - { goos: freebsd, goarch: amd64 }
          - { goos: freebsd, goarch: 386 }
          - { goos: freebsd, goarch: arm, goarm: 6 }
          - { goos: freebsd, goarch: arm, goarm: 7 }
          - { goos: freebsd, goarch: arm64 }
          - { goos: openbsd, goarch: riscv64 }
          - { goos: openbsd, goarch: amd64 }
          - { goos: openbsd, goarch: 386 }
          #- { goos: openbsd, goarch: arm, goarm: 7 }
          - { goos: openbsd, goarch: arm64 }
          - { goos: openbsd, goarch: ppc64 }
    outputs:
      new: ${{ steps.check.outputs.new }}
      version: ${{ steps.check.outputs.version }}
    steps:
      - name: Set variables
        run: |
          latest_version=$(curl -sSL https://api.github.com/repos/Sagernet/sing-box/releases/latest | jq -r '.tag_name' | sed 's|v||g')
          echo "RELEASE_NAME=${latest_version}-vincent" >> $GITHUB_ENV
          echo "TAG_NAME=v${latest_version}-vincent" >> $GITHUB_ENV
          echo "tags=with_gvisor,with_quic,with_dhcp,with_wireguard,with_utls,with_acme,with_clash_api,with_tailscale" >> $GITHUB_ENV
          echo "version=${latest_version}" >> $GITHUB_ENV

      - name: Checkout the "hidden" branch
        uses: actions/checkout@v6
        with:
          ref: hidden

      - name: Apply patches
        run: |
          git clone --depth 1 -b main https://github.com/Sagernet/sing-tun.git sing-tun
          git clone --depth 1 https://github.com/metacubex/tfo-go.git tfo-go
          git clone --depth 1 -b main https://github.com/Sagernet/sing-box.git sing-box
          ls -lha
          cd sing-tun
          patch -p1 < ../sing-tun.patch
          cp monitor_darwin.go monitor_freebsd.go
          cp monitor_darwin.go monitor_openbsd.go
          cd ../sing-box
          patch -p1 < ../sing-box.patch
          sing_tun_version=$(cat go.mod | grep github.com/sagernet/sing-tun | awk '{ print $2 }')
          echo -e "\nreplace github.com/sagernet/sing-tun ${sing_tun_version} => ../sing-tun" >> go.mod
          tfo_go_version=$(cat go.mod | grep github.com/metacubex/tfo-go | awk '{ print $2 }')
          echo -e "\nreplace github.com/metacubex/tfo-go ${tfo_go_version} => ../tfo-go" >> go.mod

      - name: Check for new version
        id: check
        run: |
          if [ -f last_version ]; then
            LAST_VERSION=$(cat last_version)
          else
            LAST_VERSION="none"
          fi
          echo "Last version: ${LAST_VERSION}, current version: ${{ env.version }}"
          if [ "${{ env.version }}" != "${LAST_VERSION}" ]; then
            echo "${{ env.version }}" > last_version
            echo "new=true" >> $GITHUB_ENV
            echo "new=true" >> $GITHUB_OUTPUT
          else
            echo "new=false" >> $GITHUB_ENV
            echo "new=false" >> $GITHUB_OUTPUT
          fi
          echo "version=${version}" >> $GITHUB_OUTPUT
        shell: bash

      - name: Setup Go
        if: env.new == 'true'
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Cache go dependencies
        if: env.new == 'true'
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
          key: go-${{ hashFiles('**/go.sum') }}

      - name: Cache go build
        if: github.event_name != 'schedule'
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
          key: go-${{ hashFiles('**/go.sum') }}-${{ matrix.goos }}-${{ matrix.goarch }}

      - name: Build binary file
        if: env.new == 'true'
        run: |
          cd sing-box
          go build -v -trimpath -ldflags "-X 'github.com/sagernet/sing-box/constant.Version=${RELEASE_NAME}' -s -w -buildid=" -tags ${tags} ./cmd/sing-box
          if [ "${{ matrix.goarch }}" == 'arm' ]; then
            mv sing-box sing-box-${{ matrix.goos }}-${{ matrix.goarch }}v${{ matrix.goarm }}
          else
            mv sing-box sing-box-${{ matrix.goos }}-${{ matrix.goarch }}
          fi
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          GOARM: ${{ matrix.goarm }}
          CGO_ENABLED: 0

      - name: Compress and move file to publish directory
        if: env.new == 'true'
        run: |
          cd sing-box
          if [ "${{ matrix.goarch }}" == 'arm' ]; then
            xz -v sing-box-${{ matrix.goos }}-${{ matrix.goarch }}v${{ matrix.goarm }}
          else
            xz -v sing-box-${{ matrix.goos }}-${{ matrix.goarch }}
          fi
          mkdir -p ../publish
          cp -v sing-box-* ../publish/

      - name: Release and upload assets
        if: github.event_name == 'schedule' && env.new == 'true'
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.TAG_NAME }}
          draft: false
          prerelease: false
          files: |
            ./publish/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  push:
    runs-on: ubuntu-latest
    if: needs.build.outputs.new == 'true'
    needs:
      - build
    steps:
      - name: Checkout the "hidden" branch
        uses: actions/checkout@v6
        with:
          ref: hidden

      - name: Update last_version
        run: |
          echo "${{ needs.build.outputs.version }}" > last_version
      - name: Push last_version to "hidden" branch
        run: |
          git config --local user.name "Vincent Loeng"
          git config --local user.email "173226116+Vincent-Loeng@users.noreply.github.com"
          git add last_version
          git commit -m "Release ${{ needs.build.outputs.version }}"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
